* {
  /* --icon-default: #969696; */
  --icon-default: #f97316;
  --btn-size-main: 2rem;
  --btn-size-jump: 2rem;
 }

.hidden {
  display: none;
}

.short-post {
  height: 6rem;
}

/* button container */
.container-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main buttton */
.btn-right {
  width: var(--btn-size-main);
  height: var(--btn-size-main);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
  margin-bottom: 2rem;
}

/* button next to shortened user posts */
.btn-jump {
  width: var(--btn-size-jump);
  height: var(--btn-size-jump);
  position: absolute;
  top: 0;
  right: 0
  color: var(--icon-default);
  cursor: pointer;
}

/* go up mid down buttons */
.go-button {
  width: var(--btn-size-main);
  height: var(--btn-size-main);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
  margin-bottom: 0.25rem;
}

/* fade in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.25s ease-in-out;
}

